<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-4">
           <h1 class="text-center">Add Employees</h1>
        </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form >
  
          <!-- Name input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="">User Name</label>
            <input type="text" id="" class="form-control" />
          </div>
    
          <div class="form-outline mb-4">
            <label class="form-label" for="">Email</label>
            <input type="email" id="" class="form-control" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="">User Role</label>
            <input type="text" id="" class="form-control" />
          </div>
        
          <div class="form-outline mb-4">
            <label class="form-label" for="">Deparment</label>
            <input type="text" id="" class="form-control" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="">User Region</label>
            <input type="text" id="" class="form-control" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="">User Township</label>
            <input type="text" id="" class="form-control" />
          </div>
        
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block">ADD</button>
          <button type="submit" class="btn btn-danger btn-block" (click)="cancleAdd()">Cancle</button>

  
        </form>
      </div>
    </div>
  </div>
  
  
  
  
  
  
    